@import url(https://fonts.google.com/specimen/Kumbh+Sans);

:root {
    --paleorange-color: hsl(25, 100%, 94%);
    --orange-color: hsl(26, 100%, 55%);
    --lightgray: hsl(223, 64%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: 'Kumbh Sans', sans-serif;
    position: fixed;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.nav-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -6%;
    margin-top: -20px;
}

img#logo {
    color: hsl(223, 64%, 98%);
    /* width: 50%; */
    position: relative;
    left: -150%;
    margin-top: 37px;
}

#avatar {
    max-width: 45px;
    padding-left: 10px;
}

.left {
    margin-top: -40px;
    position: relative;
    right: -220%;
}

#chart {
    margin-bottom: 11px;
    width: 16px;
    margin-right: 33px;
    cursor: pointer;
}

img#avatar {
    margin-top: -2px;
    cursor: pointer;
}



.list ul {
    margin-top: -35px;
    margin-left: -130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: -25%;
    color: hsl(219, 9%, 45%);
}

.list ul li {
    cursor: pointer;
    padding: 15px;
    list-style: none;
}

img#pro-1 {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 170px;
}

.thumbpic {
    position: relative;
    left: 15.5%;
}

.thumbpic img {
    border-radius: 10px;
    width: 80px;
    margin: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.thumbpic img:hover {
    /* border: 2px solid var(--orange-color); */
    opacity: 0.5;
}

.updater {
    background-color: orange;
    color: white;
    /* border-radius: 100%; */
    position: absolute;
    left: 8px;
    width: 15px;
    top: 10px;
    border-radius: 50%;
    height: 12px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.right {
    /* background-color: rgb(255, 0, 0); */
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* align-items: center; */
    position: relative;
    right: -65%;
    margin-top: -430px
}

.compyName {
    font-weight: 700;
    color: orange;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.sneaktitle {
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    font-size: 34px;
    margin-bottom: 25px;
    width: 90%;
}

.description {
    margin-bottom: 20px;
    line-height: 23px;
    color: hsl(219, 9%, 45%);
    font-size: 15px;
}

.prices #main-price {
    font-family: sans-serif;
    font-size: 25px;
    color: hsl(220, 13%, 13%);
    /* margin-right: 20px; */
    /* margin-bottom: 300px; */
}

#disc-p {
    background-color: hsl(25, 100%, 94%);
    /* text-align: center; */
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5px;
    position: relative;
    right: -23%;
    margin-top: -22.5px;
    color: hsl(26, 100%, 55%);
}

#discount {
    /* background-color: white; */
    /* text-align: center; */
    font-size: 12px;
    /* width: 300px; */
}

#slash-price {
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
    margin-top: 15px;
}

.counter {
    background-color: hsl(223, 64%, 98%);
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 30px;

}

#plus {
    cursor: pointer;
}

#minus {
    cursor: pointer;
}

.button {
    font-weight: 700;
    border-radius: 10px;
    /* height: 40px; */
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -0px; */
    outline: none;
    background-color: hsl(26, 100%, 55%);
    color: white;
    cursor: pointer;
}

.button img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.button:hover {
    opacity: 0.6;
}

@media screen and (max-width:375px) {
    body {
        background-color: rgb(77, 18, 18);
    }

    img#pro-1 {
        width: 60vh;
        margin-left: -0px;
        /* height: 100v; */
        border-radius: 0%;
        /* margin-top: -333px; */
        /* border-radius: none; */
    }

}

@media screen and (max-width: 1500px) {


    img#logo {
        /* width: 50%; */
        position: relative;
        left: -80%;
        margin-top: 37px;
    }

    #avatar {
        max-width: 45px;
        padding-left: 10px;
    }


    .left {
        margin-top: -40px;
        position: relative;
        right: -265%;
    }

    #chart {
        margin-bottom: 11px;
        width: 16px;
        margin-right: 33px;

    }

    img#avatar {
        margin-top: -4px;
    }

    .list ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        left: 23%;
        margin-top: -37px;
    }

    .list ul li {
        padding-right: 15px;
        padding-top: 17px;
        list-style: none;
    }

    .hr {
        border: 1px solid hsl(223, 64%, 98%);
        width: 100%;
        position: relative;
        left: 11%;
        margin-top: 20px;
    }

    .button {
        font-weight: 700;
        position: relative;
        right: -40%;
        margin-top: -40px;
        height: 40px;
    }
}